

/* bg colors */
$color--white: rgb(255, 255, 255);
$color--yellow: rgb(252, 179, 41);
$color--yellow-dark: rgb(253, 177, 42);
$color--yellow-darker: rgb(177, 142, 72);
$color--black: rgb(0, 0, 0);

/* font colors */
$color--text: rgb(0, 0, 0);
$color--text-highlight: rgb(150, 150, 150);

/* typo units */
$base-unit: 16px;
$font-size-h5: 1.5 * $base-unit;
