/* bg colors */
$colorCardBg: rgb(255, 255, 255);
$colorCardBgLight: rgb(252, 179, 41);
$colorCardBgDark: rgb(253, 177, 42);
$colorCardBorder: rgb(177, 142, 72);
$colorCardShadow: rgb(0, 0, 0);

/* font colors */
$colorFont: rgb(0, 0, 0);
$colorFontHighlight: rgb(150, 150, 150);

/* typo units */
$baseUnit: 16px;
$sizeH5: 1.5 * $baseUnit;
